.idea
npm-debug.log
/logs
wp-config.php
/wp-content/uploads/
/wp-content/themes/paintball/*
!/wp-content/themes/paintball/index.php
!/wp-content/themes/paintball/functions.php
!/wp-content/themes/paintball/style.css
!/wp-content/themes/paintball/dist/
